body {
}

h1, p {
	padding: 0;
	margin: 0;
	font-size: 16px;
}

#coinage-app {
	width: 30%;
	border: 1px solid #ccc;
	margin: 10px;
	min-width: 300px;
	color: #006;
	font-size: 14px;
}

#coinage-form {
	margin: 5px 0;
}

#input-value {
	margin-right: 5px; 
	width: 50px;
}

#submit-value {
	margin-top: 5px;
}

#input-label {
	font-size: 12px;
}

#coinage-app header, #coinage-app footer, #coinage-message {
	background: #ccf;
	padding: 5px;
}

#coinage-app footer, #coinage-message {
	text-align: center;
	font-size: 11px;
}

#coinage-main {
	background: #f5f5ff;
	padding: 5px;
}

#coinage-results {
	border: 1px solid #ccc;
	background: white;
	padding: 5px;
}

#coinage-summary {
	margin-bottom: 5px;
	font-style: italic;
}

#coinage-pennies-config {
	border: 1px solid #ccc;
	background: white;
	padding: 3px;
	text-align: center;
}

.coinage-penny-config {
	width: 25px;
	padding: 0 10px;
	display: inline-block;
}

.coinage-item {
	border-bottom: 1px solid #f5f5ff;
}

.coinage-item.top-row {
	font-weight: bold;
}

.coinage-value {
	float: right;
}

.coinage-toggle-enhancements {
	cursor: pointer;
	font-size: 10px;
	float: right;
}